#card {
    width: 300px;
    height: 100px;
    display: flex;
    align-items:center;
    gap: 10px;
    background-color: #F70A06;
    
}
#card p {
    color: black;
}
#card:hover {
    background-color: #FF9B08;
    transition: all 1s;
    cursor: pointer;
    color: #F70A06;
}
#card:hover p {
    color: #F70A06;
}
.container-img {
    width: 100px;
}
.container-img img {
    width: 100%;
}
