#card {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
    background-color:white;
    border-radius: 10px;
    padding: 10px;
}
.container-capa {
    width: 100%;
    height: 320px;
    
   
}
.container-capa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#card p {
    color: black;
}
#card:hover {
    background-color: #FF9B08;
    transition: all 1s;
    cursor: pointer;
    color: #F70A06;
}
#card:hover p {
    color: #F70A06;
}
.container-logo {
    width: 80px;
    height: 50px;
   
    
}
.container-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
